.hero .headroom {
  will-change: transform;
  transition: transform 200ms linear;
  position: fixed;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
}

.headroom--pinned {
  transform: translateY(0%);
}

.headroom--unpinned {
  transform: translateY(-100%);
}
